/* --------------------------Header----------------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
.frise-header {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
}
.frise-header__title {
    color: #fff;
    font-size: 46px;
    font-family: Roboto;
    font-weight: normal;
    margin: 0;
}
.frise-header__subtitle {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    letter-spacing: 5px;
    margin: 10px 0 0 0;
    font-weight: normal;
}
/* --------------------------Body----------------------------------------------------- */
.article{
    text-decoration: none;
}
}
.frise {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 700px;
    position: relative;
}

.frise_contenu-desc {
    padding-top: 20px;
    margin: 0;
    font-size: 15px;
    box-sizing: border-box;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    line-height: 25px;
}

.frise-item {
    padding: 40px 0;
    transition: .5s;
    box-sizing: border-box;
    width: 95%;
    display: flex;
    position: relative;
    transform: translateY(-80px);
    max-width: 50%;
    max-height: 50em;
}
.frise-item:before {
    content: attr(data-text);
    letter-spacing: 3px;
    width: 100%;
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    top: 70%;
    margin-top: -5px;
    padding-left: 15px;
    opacity: 0;
}
.frise-item:nth-child(even) {
    align-self: flex-end;
}
.frise-item:nth-child(even):before {
    right: auto;
    text-align: right;
    left: calc(-100% - 56px);
    padding-left: 0;
    border-left: none;
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    padding-right: 15px;
}
.frise-item--active {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
}
.frise-item--active:before {
    top: 50%;
    transition: .3s all .2s;
    opacity: 1;
}
.frise-item--active .frise_contenu-title {
    margin: -50px 0 20px 0;
}
.frise_img {
    max-width: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}
.frise-container {
    width: 100%;
    position: relative;
    padding: 80px 0;
    transition: .3s ease 0s;
    background-attachment: fixed;
    background-size: cover;
}
.frise-container:before {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: darkslategrey;
    content: "";
}
.progress-container {
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
    height: 3px;
    background: transparent;
}
.progress-bar {
    height: 3px;
    background: white;
    width: 0%;
}
.frise_contenu img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
	padding:10px 10px 10px 10px;

}
/* --------------------------Responsive----------------------------------------------------- */
@media only screen and (max-width: 767px) {
    .frise-item {
        align-self: baseline !important;
        width: 100%;
        padding: 0 30px 150px 80px;
    }
    .frise-item:before {
        left: 10px !important;
        padding: 0 !important;
        top: 50px;
        text-align: center !important;
        width: 60px;
        border: none !important;
    }
    .frise-item:last-child {
        padding-bottom: 40px;
    }
}


/* ------------------------------------------------------------------------------- */
